h1{
	margin:auto auto auto 500px;
}
td{
	width:100px;
	height:100px;
	
}
.a1{
	border-right: 2px solid black;
	
	border-left:2px solid black;
	
}
.a2{
	border-bottom:2px solid black;
	border-top:2px solid black;
}
