p{
	font-family: 'Oswald', sans-serif;
}
body{
	font-size: 10px;
}
h1{
	font-size: 2em;
}
span{
	font-size: 3em;
}
.esp{
	font-size: 6em;
}
p{
	font-weight:bold;	
	line-height: 1.75;
	text-align: justify;
	text-decoration:underline;	
}
h1{
	text-decoration: line-through;
}
